#
####### requirements.txt #######
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#   For mezzanine.py
Pillow >= 3.4          # Minimum version 3.4
qrcode >= 6.1          # Minimum version 6.1
#   For add_second_audio_track.py
pydub >=0.24.1         # Minimum version 0.24.1
pyttsx3 >=2.90         # Minimum version 2.90
#