#
####### requirements.txt #######
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
Pillow >= 3.4          # Minimum version 3.4
qrcode >= 6.1          # Minimum version 6.1
#